* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}

.centered {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@font-face {
  font-family: 'HKGrotesk';
  /* font-weight: 100; */
  src: local('HKGrotesk'), url(./fonts/Hk_Grotesk/HKGrotesk-Black.otf) format('opentype');
}

@font-face {
  font-family: 'HKGroteskBold';
  src: local('HKGroteskBold'), url(./fonts/Hk_Grotesk/HKGrotesk-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'HKGroteskSemiBold';
  src: local('HKGroteskSemiBold'), url(./fonts/Hk_Grotesk/HKGrotesk-SemiBold.otf) format('opentype');
}